<div class="table-container">
  <div class="table-content">
    <div class="table-header">
      <div class="table-row">
        <div class="table-cell cell-transmit-time">
          {{ "HISTORY_SITE.HISTORY_TABLE.DATE" | translate }}
          <button (click)="sortBy('transmit_time')">
            <i class="fa fa-sort"></i>
          </button>
        </div>
        <div class="table-cell cell-operation-code">
          {{ "HISTORY_SITE.HISTORY_TABLE.OPERATION" | translate }}
          <button (click)="sortBy('opcode')">
            <i class="fa fa-sort"></i>
          </button>
        </div>

        <div class="table-cell cell-status">
          {{ "HISTORY_SITE.HISTORY_TABLE.STATUS" | translate }}
          <button (click)="sortBy('error')">
            <i class="fa fa-sort"></i>
          </button>
        </div>

        <div class="table-cell cell-device">
          {{ "HISTORY_SITE.HISTORY_TABLE.DEVICE" | translate }}
          <button (click)="sortBy('device')">
            <i class="fa fa-sort"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="table-body">
      <div class="table-row" *ngFor="let message of messages" (click)="onMessageClick(message)">
        <div class="table-cell cell-transmit-time">{{ formatTransmitTime(message.transmit_time) }}</div>
        <div class="table-cell cell-operation-code">
          <span
            [ngStyle]="{ 'color': getOperationColor(message.opcode), 'background-color': getOperationBackgroundColor(message.opcode) }">
            {{ getOperationDescription(message.opcode) }}
          </span>
        </div>

        <div class="table-cell cell-status">
          <span *ngIf="message.message_type=='request'" class="pending-status">
            <i class="fa" [ngClass]="'fa-info-circle'"></i>
            {{ 'Pending' }}
          </span>
          <span *ngIf="message.message_type=='response'" [ngClass]="message.error ? 'error-status' : 'success-status'">
            <i class="fa" [ngClass]="message.error ? 'fa-times-circle' : 'fa-check-circle'"></i>
            {{ message.error ? 'Failed' : 'Completed' }}
          </span>
        </div>

        <div class="table-cell cell-device">
          <img [src]="getDeviceImage(message.device)" alt="{{ message.device }}" class="device-icon">
          <span [ngClass]="{
            'device-drifter': message.device === 'drifter',
            'device-localizer': message.device === 'localizer',
            'device-backend': message.device === 'backend',
            'device-unknown': message.device === 'unknown'}">
            {{ message.device | uppercase }}
          </span>
        </div>


      </div>
    </div>
  </div>

  <div class="pagination">
    <div class="total-messages">
      <span>{{ "HISTORY_SITE.HISTORY_TABLE.TOTAL_MESSAGES" | translate }}: {{ totalMessages }}</span>
    </div>

    <div class="page-selector">
      <div class="rows-per-page-selector">
        <label for="rowsPerPage">{{ "HISTORY_SITE.HISTORY_TABLE.ROWS_PER_PAGE" | translate }}:</label>
        <select id="rowsPerPage" [(ngModel)]="rowsPerPage" (change)="onRowsPerPageChange(rowsPerPage)">
          <option *ngFor="let rows of rowsOptions" [value]="rows">{{ rows }}</option>
        </select>
      </div>
      <button class="arrow-button" (click)="onPageChange(currentPage-1)">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="pagination-button" *ngFor="let page of getPaginationButtons()"
              [ngClass]="{'active': page === currentPage}" (click)="onPageChange(page)">
        {{ page }}
      </button>
      <button class="arrow-button" (click)="onPageChange(currentPage+1)">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
