<div class="table-container">
  <div class="table-controls">
    <div class="table-title">
      <h1 [textContent]="title"></h1>
    </div>
    <div class="rows-per-page-selector">
      <label for="rowsPerPage">Rows per page:</label>
      <select id="rowsPerPage" [(ngModel)]="rowsPerPage" (change)="onRowsPerPageChange(rowsPerPage)">
        <option *ngFor="let rows of rowsOptions" [value]="rows">{{ rows }}</option>
      </select>
    </div>
  </div>

  <div class="table-content">

    <div class="table-header">
      <div class="table-row">
        <div class="table-cell cell-imei">IMEI</div>
        <div class="table-cell cell-serial">Serial</div>
        <div class="table-cell cell-momsn">MOMSN (Seq. Num)</div>
        <div class="table-cell cell-transmit-time">Transmit Time</div>
        <div class="table-cell cell-latitude">Latitude</div>
        <div class="table-cell cell-longitude">Longitude</div>
        <div class="table-cell cell-cep">CEP (Accuracy km)</div>
        <div class="table-cell cell-data">Data</div>
      </div>
    </div>

    <div class="table-body">
      <div class="table-row" *ngFor="let message of messages">
        <div class="table-cell cell-imei">{{ message.imei }}</div>
        <div class="table-cell cell-serial">{{ message.serial }}</div>
        <div class="table-cell cell-momsn">{{ message.momsn }}</div>
        <div class="table-cell cell-transmit-time">{{ message.transmit_time }}</div>
        <div class="table-cell cell-latitude">{{ message.iridium_latitude | number:'1.2-2' }}</div>
        <div class="table-cell cell-longitude">{{ message.iridium_longitude | number:'1.2-2' }}</div>
        <div class="table-cell cell-cep">{{ message.iridium_cep }}</div>
        <div class="table-cell cell-data">{{ message.data }}</div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>
