.table-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--background-white);
  overflow-x: auto; /* Not overflow the table */
}

.table-controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.table-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.table-header, .table-body {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.table-row {
  display: flex;
  /*  Border on top and bottom only*/
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.table-header .table-row{
  font-size: large;
  border-radius: 8px;
  background-color: #dfdfdf;
  border-top: none;
  border-bottom: none;
}

.table-cell {
  padding: 8px;
  margin: 10px;
  text-align: center;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
  color: var(--text-gray);
}


.table-header .table-cell {
  border-radius: 100px;
  color: var(--text-gray);
  font-weight: bold;
}

/*.table-header .table-cell {*/
/*  position: relative;*/
/*}*/

.table-header button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 8px;
  font-size: 1em;
  vertical-align: middle;
}


.cell-device {
  cursor: pointer;
  width: 25%;
}

.cell-transmit-time {
  cursor: pointer;
  width: 30%;
}

.cell-operation-code {
  cursor: pointer;
  width: 25%;
}

.cell-status{
  cursor: pointer;
  width: 20%;
}

.table-cell .error-status {
  background-color: rgba(255, 0, 0, 0.1); /* Semi-transparent red */
  color: red;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.table-cell .success-status {
  background-color: rgba(0, 128, 0, 0.1); /* Semi-transparent green */
  color: green;
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

.table-cell .pending-status {
  background-color:  rgba(0, 157, 255, 0.1); /* Semi-transparent orange */
  color: rgba(0, 157, 255, 1);
  border-radius: 15px;
  padding: 5px 10px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
}


.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  align-items: center;
}

.page-selector{
  display: flex;
  gap: 10px;
  align-items: center;
}

.rows-per-page-selector {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 10px;
}

.pagination-button {
  display: flex;
  padding: 12px 12px;
  border: none;
  background-color: var(--unselected-color);
  color: #303030;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.table-cell.cell-operation-code span {
  background-color: var(--drifter-color-transparent-50);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.pagination-button.active {
  background-color: #303030;
  color: white;
}

button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.arrow-button{
  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #303030;
  width: 30px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.device-icon {
  width: 25px;
  height: 25px;
  margin-right: 0px;
  vertical-align: middle;
}

.device-drifter {
  font-weight: bold;
  color: var(--drifter-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.device-localizer {
  font-weight: bold;
  color:  var(--localizer-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

.device-backend {
  font-weight: bold;
  color:  var(--backend-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}


.device-unknown {
  background-color: var(--unknown-device-color-transparent-50); /* Color para Unknown */
  font-weight: bold;
  color: var(--unknown-device-color);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
