<div class="node-config-site"
     *ngIf="selectedNode && selectedNode.extModules.loRaReporting && selectedNode.extModules.iridiumReporting;
     else noNodeSelected">
  <h1>{{ "REPORTING_SETTINGS.TITLE" | translate }}</h1>
  <div class="settings-container">
    <!-- Sección para LoRa -->
    <div class="settings-box">
      <h2>{{ "REPORTING_SETTINGS.PERIODS.LORA_PERIOD" | translate }}</h2>
      <div class="setting-group" *ngFor="let entry of selectedNode.extModules.loRaReporting.reportingPeriods">
        <label>
          {{ entry.key.name }}
          <span>({{ "REPORTING_SETTINGS.UNITS.MINUTES" | translate }})</span>
        </label>
        <input
          type="number"
          [(ngModel)]="entry.value">
<!--          (ngModelChange)="updateLoRaReportingPeriod(entry.key, $event)">-->
      </div>
    </div>

    <!-- Sección para Iridium -->
    <div class="settings-box">
      <h2>{{ "REPORTING_SETTINGS.PERIODS.IRIDIUM_PERIOD" | translate }}</h2>
      <div class="setting-group" *ngFor="let entry of selectedNode.extModules.iridiumReporting.reportingPeriods">
        <label>
          {{ entry.key.name }}
          <span>({{ "REPORTING_SETTINGS.UNITS.MINUTES" | translate }})</span>
        </label>
        <input
          type="number"
          [(ngModel)]="entry.value">
<!--          (ngModelChange)="updateIridiumReportingPeriod(entry.key, $event)">-->
      </div>
    </div>
  </div>
</div>

<ng-template #noNodeSelected>
  <div class="no-node-selected">
    <p>{{ "ERROR_MESSAGES.NO_NODE_SELECTED" | translate }}</p>
  </div>
</ng-template>
