<div class="dropdown-container">
  <!-- Nodo Seleccionado con Icono de Flecha -->
  <div class="selected-node" (click)="toggleDropdown()">
    <ng-container *ngIf="selectedNode$ | async as selectedNode; else noNodeSelected">
      <app-device-card
        [icon]="selectedNode.icon"
        [boldText]="selectedNode.name" />
    </ng-container>
    <ng-template #noNodeSelected>
      <span>Selecciona un nodo</span>
    </ng-template>
    <span class="arrow-icon">&#9660;</span>
  </div>

  <!-- Lista de Nodos -->
  <div *ngIf="dropdownVisible" class="dropdown-list">
    <div
      *ngFor="let node of nodes"
      class="dropdown-item"
      (click)="selectNode(node)">
      <app-device-card
        [icon]="node.icon"
        [boldText]="node.name">
      </app-device-card>
    </div>
  </div>
</div>
