:host {
  display: flex;
  width: 100%;
}

.manu-element-container {
  width: 100%;
}

.menu-element {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--selected-dark-color);
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative; /* Necesario para posicionar el bocadillo */
}

/* Bocadillo de texto al hacer hover */
.menu-element:hover::after {
  content: attr(data-text); /* Utiliza el texto proporcionado en el atributo data-text */
  position: absolute;
  left: 100%; /* Muestra el bocadillo a la derecha del elemento */
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-white);
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* Evita que el texto se rompa en múltiples líneas */
  margin-left: 10px; /* Espacio entre el bocadillo y el elemento */
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-element:hover[data-text]:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 1000
}

.menu-element a {
  color: inherit;
  margin-left: 10px;
  flex-grow: 1;
}
.menu-element:hover {
  color: var(--main-color);
}

.menu-element.active {
  font-weight: bold;
  color: var(--main-color);
}

.up-down-arrow {
  margin-left: auto; /* Asegura que la flecha se alinee a la derecha */
}

.dropdown-menu-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.dropdown-menu-items-container.closed {
  display: none; /* Oculta el dropdown cuando está cerrado */
}

.dropdown-item{
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover{
  color: var(--main-color);
}
