/* Estilos generales del footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* Color de fondo */
  color: #505050; /* Color del texto */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2); /* Sombra del footer */
}

.footer-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo img {
  height: 40px; /* Altura del logo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
}

.footer-info {
  text-align: center; /* Centrar texto */
}

.footer-info p {
  margin: 0;
}

@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .footer-content {
    flex-direction: column; /* Disponer elementos en columna */
    text-align: center;
  }

  .footer-logo img {
    height: 30px; /* Altura del logo en dispositivos móviles */
  }
}
