.general-site {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--background-white);
  height: max-content;
  transition: margin-left 0.3s ease-in-out;
}

.main-content {
  display: flex;
  align-self: flex-end;
  height: 100%;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

/* Apply the styles recursively to all child components */
::ng-deep .main-content > *:not(router-outlet) {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Opcional: Si deseas ocultar el overflow de la página */
body {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  display: none;
}
