.general-site {
  display: flex;
  flex: 1;
  flex-direction: column;

  background-color: var(--background-white);
}

.main-content {
  display: flex;
  flex:1;
  margin-left:60px;
  overflow: hidden;
}

app-language-selector {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 9999; /* Asegura que se muestre sobre todos los elementos */
  background: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opcional: sombra ligera */
}


/* Apply the styles recursively to all child components */
::ng-deep .main-content > *:not(router-outlet) {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Opcional: Si deseas ocultar el overflow de la página */
body {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  display: none;
}
