/*.window-bubble-submenu {*/
/*  position: absolute;*/
/*  top: 100%; !* Esto coloca el submenu justo debajo del profile-bubble *!*/
/*  left: 0;*/
/*  z-index: 1000; !* Asegúrate de que el z-index sea mayor que el de otros elementos en la página *!*/
/*  background-color: #fff;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
/*}*/

.user-submenu-item-icon {
  font-size: 20px;

}

.user-submenu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  gap: 5px;
}
