<!-- Div with top left image -->
<div class = "side-menu">
  <div class="header">
    <img src="assets/ocean-sonics-logo.svg" alt="Logo" class="logo">
  </div>

  <nav>
    <div class="header-element" routerLink="/map" routerLinkActive="active">
      <a>Mapa</a>
    </div>
    <div class="header-element" routerLink="/summary" routerLinkActive="active">
      <a>Resumen</a>
    </div>
    <div class="header-element" routerLink="/recording" routerLinkActive="active">
      <a>Grabación</a>
    </div>
    <div class="header-element" routerLink="/configuration" routerLinkActive="active">
      <a>Configuración</a>
    </div>
  </nav>
</div>
