<div *ngIf="visible" class="popup-container" [@slideDown]>
  <div class="popup-content">
    <div *ngIf="cost != undefined; else warningTemplate" class="info-text">
      <i class="fa-solid fa-coins"></i>&nbsp;
      Size: <strong>{{ cost.bytes }} bytes </strong>
      <b>|</b>
      Cost: <strong>{{ cost.credits }} credits</strong>
    </div>
    <ng-template #warningTemplate>
      <app-warning
        style="padding: 0.5rem 1rem"
        [message]="'Error retrieving cost'"
      />
    </ng-template>
    <div class="button-row">
      <button class="btn discard" (click)="discard.emit()">
        <i class="fa-solid fa-rotate-left"></i> Discard
      </button>
      <button class="btn apply" (click)="apply.emit()">
        <i class="fa-solid fa-check"></i> Apply
      </button>
    </div>
  </div>
</div>
