:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--background-lightgray);
}

.tabs {
  display: flex;
  gap: 16px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.tabs a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
.tabs a.active {
  background-color: #444CE7;
  color: white;
}

