<div class="device-info-site" *ngIf="deviceInfo; else errorTemplate">
  <div class="grid-container">
    <div class="grid-item">
      <h2>Device Status</h2>
      <ul>
        <li>Unit Status: <span>{{ deviceInfo.device_status.unit_status }}</span></li>
        <li>Battery: <span>{{ deviceInfo.device_status.battery_status }}</span></li>
        <li>Unit Time: <span>{{ deviceInfo.device_status.unit_time }}</span></li>
        <li>Time Sync: <span>{{ deviceInfo.device_status.time_sync }}</span></li>
        <li>Temperature: <span>{{ deviceInfo.device_status.temperature }}</span></li>
        <li>Humidity: <span>{{ deviceInfo.device_status.humidity }}</span></li>
        <li>Hydrophone Sensitivity: <span>{{ deviceInfo.device_status.hydrophone_sensitivity }}</span></li>
      </ul>
    </div>

    <div class="grid-item">
      <h2>About</h2>
      <ul>
        <li>Firmware Release: <span>{{ deviceInfo.about.firmware_release }}</span></li>
        <li>Hardware Release: <span>{{ deviceInfo.about.hardware_release }}</span></li>
        <li>IP Address: <span>{{ deviceInfo.about.ip_address }}</span></li>
      </ul>
    </div>

    <div class="grid-item">
      <h2>Recording Status</h2>
      <ul>
        <li>Record WAV: <span>{{ deviceInfo.recording_status.record_wav }}</span></li>
        <li>WAV Sample Rate: <span>{{ deviceInfo.recording_status.wav_sample_rate }}</span></li>
        <li>Record FFT: <span>{{ deviceInfo.recording_status.record_fft }}</span></li>
        <li>FFT Sample Rate: <span>{{ deviceInfo.recording_status.fft_sample_rate }}</span></li>
      </ul>
    </div>

  </div>
</div>

<ng-template #errorTemplate>
  <div class="error-message">
    Unable to retrieve complete device information.
  </div>
</ng-template>
