<header>
  <h1>{{ 'SUMMARY_SITE.WELCOME' | translate }},
    <span>{{ authService.getCurrentUser()!.personalInfo.firstName | titlecase }}</span>
  </h1>
  <div class="device-and-section-selection">
    <app-device-cards-list [nodes]="nodes"/>
    <div class="nav-tabs">
      <div class="nav-item" [routerLink]="['/' + AppRoutePaths.summary.stats]" routerLinkActive="active-tab">
        <a>Stats</a>
        <app-update-info-button [tooltipPosition]="'left'"
                                (buttonClick)="console.warn('Update not implemented');"></app-update-info-button>
      </div>
      <div class="nav-item" [routerLink]="['/' + AppRoutePaths.summary.info]" routerLinkActive="active-tab">
        <a>Information</a>
        <app-update-info-button [tooltipPosition]="'left'"
                                (buttonClick)="console.warn('Update not implemented');"></app-update-info-button>
      </div>
      <div class="nav-item" [routerLink]="['/' + AppRoutePaths.summary.settings]" routerLinkActive="active-tab">
        <a>Settings</a>
        <app-update-info-button [tooltipPosition]="'left'"
                                (buttonClick)="console.warn('Update not implemented');"></app-update-info-button>
      </div>

    </div>
  </div>
</header>
<div class="dashboard-content">
  <router-outlet></router-outlet>
</div>

