<div class="pam-system-config-site">
  <div class="top-container">
    <h1>Data Collection Settings</h1>
    <app-update-info-button [tooltipPosition]="'right'"
                            (buttonClick)="loggingConfigService.getUpdatedLoggingConfig()"></app-update-info-button>
  </div>
  <div class="settings-container">

    <div class="settings-box waveform">
      <h2>Waveform Data</h2>
      <div class="switch-group">
        <label for="logging-wav">
          Waveform Logging
        </label>
        <label class="switch">
          <input type="checkbox" id="logging-wav" [(ngModel)]="waveformDataLoggingEnabled">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="max-waveform-frequency">Waveform Frequency (Hz)</label>
        <select id="max-waveform-frequency" [(ngModel)]="selectedWaveformSampleRate">
          <option *ngFor="let rate of waveformSampleRates" [ngValue]="rate">{{ rate }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="waveform-file-length">File Length (min)</label>
        <input type="number" id="waveform-file-length" [(ngModel)]="fileLength" min="1" max="255">
      </div>
      <div class="setting-group">
        <label for="gain-db">Gain (dB)</label>
        <select id="gain-db" [(ngModel)]="gainDB">
          <option *ngFor="let bit of gainsDB" [ngValue]="bit">{{ bit }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="bit-depth">Bit Depth</label>
        <select id="bit-depth" [(ngModel)]="selectedBitDepth">
          <option *ngFor="let bit of bitDepths" [ngValue]="bit">{{ bit.label }}</option>
        </select>
      </div>
    </div>
    <div class="settings-box spectrum">
      <h2>Spectrum (FFT)</h2>
      <div class="switch-group">
        <label for="logging-fft">
          Spectrum Logging
        </label>
        <label class="switch">
          <input type="checkbox" id="logging-fft" [(ngModel)]="spectrumDataLoggingEnabled">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="max-spectrum-frequency">Spectrum Frequency (Hz)</label>
        <select id="max-spectrum-frequency" [(ngModel)]="selectedSpectrumSampleRate">
          <option *ngFor="let rate of spectrumSampleRates" [ngValue]="rate">{{ rate }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="max-log-length">Log Length (min)</label>
        <input type="number" id="max-log-length" [(ngModel)]="maxLogLength" min="1" max="255">
      </div>
      <div class="setting-group">
        <label for="spectrum-processing-mode">Processing Mode</label>
        <select id="spectrum-processing-mode" [(ngModel)]="selectedProcessingMode">
          <option *ngFor="let mode of FFTProcessingModesOptions" [ngValue]="mode">{{ mode.label }}</option>
        </select>
      </div>

      <div class="setting-group">
        <label for="accumulations-per-result">Accumulations Per Result</label>
        <input type="number" id="accumulations-per-result" [(ngModel)]="accumulationsPerResult" min="1">
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <button class="apply-button" (click)="applySettings()">APPLY</button>
  </div>
</div>
