<div class="register-form">
  <ul>
    <li *ngFor="let step of steps; let i = index">
      <a [class.active]="currentStep === i">
        {{ step.label }}
      </a>
    </li>
  </ul>
  <router-outlet></router-outlet>

  <div class="navigation-buttons">
    <button
      *ngIf="currentStep !== 0"
      [disabled]="currentStep === 0"
      (click)="previousStep()"
    >Previous</button>
    <button
      [disabled]="false"
      (click)="nextStep()"
      [textContent]="currentStep === steps.length - 1 ? 'Submit' : 'Next'"
    ></button>
  </div>
</div>

