
.side-menu {
  display: flex;
  flex:1;
  height: 100vh;
  flex-direction: column;
  background-color: var(--background-white);
  border-right: 1px solid var(--light-gray);
  gap: 20px;
  position: fixed;
  transition: width 0.3s ease-in-out;
}

/* El header y footer deben desplazarse junto con el menú */
.header, .footer {
  background-color: var(--background-white);
  border-bottom: 1px solid var(--light-gray);
}

.side-menu.expanded {
  width: 250px;
}

.side-menu.collapsed {
  width: 60px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.header img.logo {
  height: 60px;
  cursor: pointer;
}

.side-menu.collapsed .header img.logo {
  height: 40px; /* Tamaño reducido del logo en modo colapsado */
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 25px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.side-menu.collapsed nav a {
  display: none; /* Oculta el texto en modo colapsado */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding-bottom: 10px;

}

/* Estilos móviles */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  nav {
    flex-direction: column;
  }
  .header-element {
    margin-bottom: 10px;
  }
}
