<div
  class="side-menu"
  [ngClass]="{'collapsed': properties.isCollapsed, 'expanded': !properties.isCollapsed}"
>
  <!--  (mouseenter)="onMouseEnter()"-->
  <!--  (mouseleave)="onMouseLeave()"-->

  <div
    class="header"
    (click)="onHeaderClick()"
  >
<!--    (dblclick)="toggleFix()"-->
    <img [src]="properties.isCollapsed ? '../../../assets/acousea-collapsed.svg' : '../../../assets/acousea-new.svg'"
         alt="Logo"
         class="logo">
  </div>


  <nav>
    <app-menu-element [link]="'/summary'"
                      [icon]="'fa-solid fa-chart-line'"
                      [collapsed]="properties.isCollapsed"
                      [text]="'SIDE_MENU.DASHBOARD' | translate">
    </app-menu-element>
    <app-menu-element [link]="'/map'"
                      [icon]="'fa-solid fa-location-dot'"
                      [collapsed]="properties.isCollapsed"
                      [text]="'SIDE_MENU.MAP'| translate">
    </app-menu-element>
    <app-menu-element [link]="'/settings'"
                      [icon]="'fa-solid fa-gear'"
                      [collapsed]="properties.isCollapsed"
                      [text]="'SIDE_MENU.SETTINGS'| translate">
    </app-menu-element>
    <app-menu-element [link]="'/history'"
                      [icon]="'fa-solid fa-clock-rotate-left'"
                      [collapsed]="properties.isCollapsed"
                      [text]="'SIDE_MENU.HISTORY'| translate">
    </app-menu-element>
  </nav>

  <div class="footer">
    <div class="search-bar-container">
      <app-user-window-bubble></app-user-window-bubble>
      <app-search-bar *ngIf="!properties.isCollapsed"></app-search-bar>
    </div>
  </div>


</div>
