<div class="password-container">
  <label *ngIf="label" for="inputField">{{ label }}</label>
  <div class="password-input-wrapper">
    <i *ngIf="leftIcon" class="fas" [ngClass]="leftIcon" aria-hidden="true"></i>
    <input
      class="password-input"
      id="inputField"
      [type]="passwordFieldType"
      [formControl]="inputControl"
      [placeholder]="placeholder"
    />
    <i
      *ngIf="rightIcon"
      class="fas eye-passwd"
      [ngClass]="passwordFieldType === 'password' ? rightIcon : 'fa-eye-slash'"
      (click)="togglePasswordVisibility()"
      aria-hidden="true"
    ></i>
  </div>
  <div *ngIf="inputControl.invalid && inputControl.touched" class="error-message">
    <small *ngFor="let validation of validations">
      <ng-container *ngIf="inputControl.hasError(validation.name)">
        {{ validation.message }}
      </ng-container>
    </small>
  </div>
</div>
