.password-container {
  position: relative;
  width: 100%;
  margin-bottom: 15px; /* Espacio opcional debajo del input */
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  padding: 12px 40px 12px 40px; /* Espacio para los íconos */
  font-size: 16px;
  color: var(--text-black);
  background-color: transparent;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--text-gray);
}

.password-input-wrapper i {
  position: absolute;
  font-size: 16px;
  color: var(--text-gray); /* Ajusta el color del ícono si es necesario */
}

.password-input-wrapper i.left-icon {
  left: 10px;
}

.password-input-wrapper i.eye-passwd {
  right: 10px;
  cursor: pointer;
}

input:focus {
  outline: none; /* Elimina el borde por defecto en foco */
  border-color: var(--main-color);
  box-shadow: 0px 4px 4px -2px rgba(39, 154, 241, 0.6);
}

input.ng-invalid.ng-touched {
  border-color: var(--discard-button-color);
  box-shadow: 0px 4px 4px -2px rgba(248, 81, 81, 0.6);
}

.error-message {
  color: var(--discard-button-color);
  font-size: 12px;
  margin-top: 5px;
}

