<div class="reporting-periods-config-site">
  <div class="top-container">
    <h1>Reporting Periods Configuration</h1>
    <app-update-info-button [tooltipPosition]="'right'"
                            (buttonClick)="communicationSystemService.getUpdatedReportingPeriods()"></app-update-info-button>
  </div>
  <form [formGroup]="reportingPeriodsForm" (ngSubmit)="onSubmit()">
    <div class="settings-container">
      <div class="settings-box">
        <h2>Launching Mode</h2>
        <div class="setting-group">
          <label for="launchingSbdPeriod">SBD Period:</label>
          <input id="launchingSbdPeriod" formControlName="launchingSbdPeriod" type="number">
        </div>
        <div class="setting-group">
          <label for="launchingLoraPeriod">LoRa Period:</label>
          <input id="launchingLoraPeriod" formControlName="launchingLoraPeriod" type="number">
        </div>
      </div>
      <div class="settings-box">
        <h2>Working Mode</h2>
        <div class="setting-group">
          <label for="workingSbdPeriod">SBD Period:</label>
          <input id="workingSbdPeriod" formControlName="workingSbdPeriod" type="number">
        </div>
        <div class="setting-group">
          <label for="workingLoraPeriod">LoRa Period:</label>
          <input id="workingLoraPeriod" formControlName="workingLoraPeriod" type="number">
        </div>
      </div>
      <div class="settings-box">
        <h2>Recovering Mode</h2>
        <div class="setting-group">
          <label for="recoveringSbdPeriod">SBD Period:</label>
          <input id="recoveringSbdPeriod" formControlName="recoveringSbdPeriod" type="number">
        </div>
        <div class="setting-group">
          <label for="recoveringLoraPeriod">LoRa Period:</label>
          <input id="recoveringLoraPeriod" formControlName="recoveringLoraPeriod" type="number">
        </div>
      </div>
    </div>
    <div class="bottom-container">
      <button class="apply-button" type="submit">Apply</button>
    </div>
  </form>
</div>
