<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web for an oceanic diverter control and communication system for passive acoustics applications</title>
</head>
<body>
<div class="general-site">
  <app-undo-popup></app-undo-popup>
  <app-notification-list></app-notification-list>
  <app-flush-request-queue-popup></app-flush-request-queue-popup>
  <app-alert-popup></app-alert-popup>
  <app-side-menu></app-side-menu>
  <app-loading-animation></app-loading-animation>
  <div class="main-content" [class.hidden]="isLoading | async">
    <router-outlet
    ></router-outlet>
  </div>
</div>
</body>
<!--<app-footer></app-footer>-->
