<!-- message-details-popup.component.html -->
<div *ngIf="display">
  <div class="popup-backdrop" (click)="closePopup()"></div> <!-- Añadir este contenedor para el fondo -->
  <div class="popup-container">
    <div class="popup-header">
      <p>Operation Details</p>
      <button (click)="closePopup()">X</button>
    </div>
    <div class="popup-content" *ngIf="message">
      <div><strong>Device:</strong> {{ message.device }}</div>
      <div><strong>Date:</strong> {{ message.transmitTime | date:'MMM d, y, h:mm:ss a'}}</div>
      <div><strong>Description:</strong> {{ OperationCode.getDescription(message.opcode) }}</div>
      <div><strong>Sender Address:</strong> {{ message.sender_address }}</div>
      <div><strong>Recipient Address:</strong> {{ message.recipient_address }}</div>
      <div><strong>Packet Type:</strong> {{ message.communication_infrastructure }}</div>
      <div><strong>Data:</strong> {{ message.data }}</div>

      <p *ngIf="message.message_type=='request'"><strong>Status: </strong>Pending</p>
      <p *ngIf="message.message_type=='response'">
        <strong>Status:</strong>
        <span *ngIf="!message.error">Completed Successfully</span>
        <span *ngIf="message.error">Failed with error = {{ message.error_description }}</span>
      </p>
    </div>
  </div>
</div>
