<!-- iclisten-data-collection-config-monitor-panel.component.html -->
<div class="node-config-site">
  <h1>{{ "DATA_COLLECTION_SETTINGS.TITLE" | translate }}</h1>
  <div class="settings-container">

    <div class="settings-box waveform">
      <h2>{{ "DATA_COLLECTION_SETTINGS.WAVEFORM.TITLE" | translate }}</h2>
      <div class="setting-group">
        <label for="logging-wav">
          {{ "DATA_COLLECTION_SETTINGS.WAVEFORM.LOGGING" | translate }}
        </label>
        <label class="switch">
          <input type="checkbox" id="logging-wav"
                 [ngModel]="data.loggingConfig.wav.loggingMode"
                 (ngModelChange)="setWavLoggingMode($event)">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="max-waveform-frequency">{{ "DATA_COLLECTION_SETTINGS.WAVEFORM.FREQUENCY" | translate }}</label>
        <select id="max-waveform-frequency"
                [ngModel]="data.loggingConfig.wav.sampleRate"
                (ngModelChange)="setWavSampleRate($event)">
          <option *ngFor="let rate of waveformSampleRates" [ngValue]="rate">{{ rate }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="waveform-file-length">{{ "DATA_COLLECTION_SETTINGS.WAVEFORM.FILE_LENGTH" | translate }}</label>
        <input type="number" id="waveform-file-length"
               [ngModel]="data.loggingConfig.wav.logLength"
               (ngModelChange)="setWavLogLength($event)" min="1" max="255">
      </div>
      <div class="setting-group">
        <label for="gain-db">{{ "DATA_COLLECTION_SETTINGS.WAVEFORM.GAIN" | translate }}</label>
        <select id="gain-db"
                [ngModel]="data.loggingConfig.wav.gain"
                (ngModelChange)="setWavGain($event)">
          <option *ngFor="let bit of gainsDB" [ngValue]="bit">{{ bit }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="bit-depth">{{ "DATA_COLLECTION_SETTINGS.WAVEFORM.BIT_DEPTH" | translate }}</label>
        <select id="bit-depth"
                [ngModel]="data.loggingConfig.wav.bitDepth"
                (ngModelChange)="setWavBitDepth($event)">
          <option *ngFor="let bit of bitDepths" [ngValue]="bit">{{ bit.label }}</option>
        </select>
      </div>
    </div>

    <div class="settings-box spectrum">
      <h2>{{ "DATA_COLLECTION_SETTINGS.SPECTRUM.TITLE" | translate }}</h2>
      <div class="setting-group">
        <label for="logging-fft">
          {{ "DATA_COLLECTION_SETTINGS.SPECTRUM.LOGGING" | translate }}
        </label>
        <label class="switch">
          <input type="checkbox" id="logging-fft"
                 [ngModel]="data.loggingConfig.fft.loggingMode"
                 (ngModelChange)="setFftLoggingMode($event)">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="max-spectrum-frequency">{{ "DATA_COLLECTION_SETTINGS.SPECTRUM.FREQUENCY" | translate }}</label>
        <select id="max-spectrum-frequency"
                [ngModel]="data.loggingConfig.fft.sampleRate"
                (ngModelChange)="setFftSampleRate($event)">
          <option *ngFor="let rate of spectrumSampleRates" [ngValue]="rate">{{ rate }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="max-log-length">{{ "DATA_COLLECTION_SETTINGS.SPECTRUM.LOG_LENGTH" | translate }}</label>
        <input type="number" id="max-log-length"
               [ngModel]="data.loggingConfig.fft.logLength"
               (ngModelChange)="setFftLogLength($event)" min="1" max="255">
      </div>
      <div class="setting-group">
        <label for="spectrum-processing-mode">{{ "DATA_COLLECTION_SETTINGS.SPECTRUM.PROCESSING_MODE" | translate }}</label>
        <select id="spectrum-processing-mode"
                [ngModel]="data.loggingConfig.fft.processingType"
                (ngModelChange)="setFftProcessingType($event)">
          <option *ngFor="let mode of FFTProcessingModesOptions" [ngValue]="mode">{{ mode.label }}</option>
        </select>
      </div>

      <div class="setting-group">
        <label for="accumulations-per-result">{{ "DATA_COLLECTION_SETTINGS.SPECTRUM.ACCUMULATIONS" | translate }}</label>
        <input type="number" id="accumulations-per-result"
               [ngModel]="data.loggingConfig.fft.fftsAccumulated"
               (ngModelChange)="setFftAccumulations($event)" min="1">
      </div>
    </div>
  </div>
</div>
