<form (ngSubmit)="submitForm()">
  <app-custom-input
    [label]="'Username or Email'"
    [placeholder]="'Enter your username or email'"
    [leftIcon]="'fa-user'"
    [inputType]="'text'"
    [(content)]="usernameOrEmail"
    [validationRules]="usernameValidations">
  </app-custom-input>

  <app-custom-input
    [label]="'Password'"
    [placeholder]="'Enter your password'"
    [rightIcon]="'fa-eye'"
    [leftIcon]="'fa-key'"
    [(content)]="userPassword"
    [validationRules]="passwordValidations">
  </app-custom-input>

  <button type="submit">Log In</button>
</form>
