<nav class="tabs">
  <button (click)="changeView('all')" [class.active]="currentView === 'all'">All</button>
  <button (click)="changeView('iclistenhf')" [class.active]="currentView === 'iclistenhf'">ICListenHF</button>
  <button (click)="changeView('system')" [class.active]="currentView === 'system'">System</button>
</nav>

<section class="system-info-site" *ngIf="extModules || pamModules; else errorTemplate">
  <div class="meta-information" *ngIf="pamModules">
    <label>{{ 'SYSTEM_INFO_SITE.LAST_UPDATE' | translate }}:
      <span>{{ pamModules.ICListenHF.recordingStats.epochTime }}</span></label>
  </div>

  <div class="information-container">
    <div class="information-item"
         *ngIf="
         (currentView === 'iclistenhf' || currentView === 'all') &&
         pamModules &&
         pamModules.ICListenHF"
    >
      <h2>{{ 'PAM_DEVICE.ICLISTENHF.TITLE' | translate }}</h2>
      <ul>
        <app-iclisten-device-status-monitor-panel
          [data]="{statusCode: pamModules.ICListenHF.status.unitStatus}">
        </app-iclisten-device-status-monitor-panel>
        <app-ambient-monitor-panel
          [data]="{ temperature: pamModules.ICListenHF.status.temperature, humidity: pamModules.ICListenHF.status.humidity }"
        ></app-ambient-monitor-panel>
        <app-battery-monitor-panel
          [data]="{batteryPercentage: pamModules.ICListenHF.status.batteryPercentage, batteryStatus: pamModules.ICListenHF.status.batteryStatus}"
        ></app-battery-monitor-panel>


      </ul>
    </div>

    <div class="information-item"

         *ngIf="(currentView === 'system' || currentView === 'all') &&
         extModules"
    >
      <h2>{{ 'COMMUNICATION_SYSTEM.TITLE' | translate }}</h2>
      <ul>
        <app-storage-monitor-panel
          *ngIf="extModules.storage"
          [data]="extModules.storage"
        ></app-storage-monitor-panel>
        <app-location-monitor-panel
          *ngIf="extModules.location"
          [data]="extModules.location"
        ></app-location-monitor-panel>

        <app-core-temperature-and-operation-mode
          *ngIf="extModules.ambient"
          [data]="{
            coreTemperature: extModules.ambient.temperature,
            operationModeIdx: 2
          }"
        >

        </app-core-temperature-and-operation-mode>

        <app-battery-monitor-panel
          *ngIf="extModules.battery"
          [data]="extModules.battery"
        >
        </app-battery-monitor-panel>

        <app-rtc-monitor-panel
          *ngIf="extModules.rtc"
          [data]="extModules.rtc"
        >
        </app-rtc-monitor-panel>
      </ul>
    </div>
  </div>
</section>

<ng-template #errorTemplate>
  <app-warning
    [message]="'Unable to retrieve complete device information. ' + errorMessage">
  </app-warning>
</ng-template>
