/* Estilo general del header */
.side-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--background-white);
  padding: 30px;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); !* Sombra del header *!*/
}

.header img.logo {
  height: 50px; /* Altura del logo */
  cursor: pointer; /* Cambia el cursor al pasar sobre el logo */
}

/* Estilo de la barra de navegaci칩n */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
  padding: 20px 20px;
  margin-top: 20px; /* Espacio superior */
  margin-bottom: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-input {
  width: 200px; /* Ancho deseado */
  padding: 5px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

.search-icon {
  margin-left: 5px;
  color: #555;
  cursor: pointer;
}

.footer-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.action-button {
  padding: 10px 20px;
  background-color: var(--background-white);
  font-weight: bold;
  color: var(--unselected-dark-color);
  border: 1px solid var(--light-gray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.action-button i {
  margin-right: 5px; /* A침ade espacio entre el icono y el texto */
}

.action-button:hover {
  color: var(--main-color);
}

.action-button:active {
  transform: scale(0.95); /* Escala el bot칩n ligeramente hacia abajo */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos m칩viles */
  .header {
    flex-direction: column; /* Disponer elementos en columna */
    text-align: center; /* Centrar texto */
  }

  nav {
    flex-direction: column; /* Disponer elementos en columna */
  }

  .header-element {
    margin-bottom: 10px; /* Espacio inferior */
  }
}
