<!-- Div with top left image -->
<div class="side-menu">
  <div class="header" [routerLink]="'/summary'">
    <img src="../../../assets/acousea-new.svg" alt="Logo" class="logo">
  </div>
  <!-- Barra de búsqueda -->
  <div class="search-bar-container">
    <app-search-bar></app-search-bar>
  </div>

  <nav>
    <app-menu-element [link]="'/summary'" [icon]="'fa-solid fa-chart-line'" [text]="'Dashboard'"></app-menu-element>
    <app-menu-element [link]="'/map'" [icon]="'fa-solid fa-location-dot'" [text]="'Map'"></app-menu-element>
    <app-menu-element [link]="'/configuration'" [icon]="'fa-solid fa-gear'" [text]="'Settings'"
                      [subMenuItems]="configurationMenuItems">
    </app-menu-element>
    <app-menu-element [link]="'/history'" [icon]="'fa-solid fa-clock-rotate-left'"
                      [text]="'History'">
<!--                      [subMenuItems]="historyMenuItems">-->
    </app-menu-element>
    <app-menu-element [link]="'/system-info'" [icon]="'fa-solid fa-circle-info'"
                      [text]="'System Info'"></app-menu-element>
  </nav>

</div>
