.recording-and-processing-site {
  display: flex;
  flex-direction: column;
  background-color: var(--background-lightgray);
  padding: 40px;
  text-align: center;
}

.top-container {
  margin: 30px;
  color: var(--text-black);
  text-align: center;
  padding: 20px 0;
}

.top-container h1 {
  font-size: x-large;
}

.settings-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  flex-wrap: wrap;
}

.settings-box {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 40px);
  box-sizing: border-box;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: flex-start;
}

.settings-box h2 {
  margin-top: 0;
  color: #333;
}

.setting-group {
  display: flex;
  flex: 1;
  width: -webkit-fill-available;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.setting-group label {
  display: block;
  color: #555;
}

.setting-group input,
.setting-group select {
  padding: 8px;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.setting-group input.invalid,
.setting-group select.invalid {
  border-color: red;
  border-width: 2px;
}

.setting-group .fixed-width-select {
  width: 20%;
  white-space: normal;
  overflow-wrap: break-word;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px 0;
}

.apply-button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
  background-color: #1a7ab6;
}

/* Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--main-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
