/* src/app/address-selector/address-selector.component.css */
.address-selector-container {
  position: relative;
  width: 100%;
}

.address-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid var(--text-gray);
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.suggestion-item:hover {
  background-color: var(--main-color-light);
}

.suggestion-item i {
  margin-right: 10px;
  color: var(--main-color);
}
