<div class="node-config-site">
<!--  <h1>{{ "RECORDING_PROCESSING_SETTINGS.TITLE" | translate }}</h1>-->
  <div class="settings-container">
    <div class="settings-box waveform">
      <!------------------------------------------- WAVEFORM ------------------------------------------->
      <h2>{{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.TITLE" | translate }}</h2>
      <div class="setting-group">
        <label for="recording-wav" (mouseenter)="onMouseEnter('recording-wav')"
               (mouseleave)="onMouseLeave('recording-wav')">
          {{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.RECORDING" | translate }}
          <app-tooltip [text]="'Enable or disable recording of WAV audio data'"
                       [show]="showTooltip['recording-wav']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="recording-wav" [(ngModel)]="data.streamingConfig.wav.recordWaveform">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="processing-wav" (mouseenter)="onMouseEnter('processing-wav')"
               (mouseleave)="onMouseLeave('processing-wav')">
          {{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.PROCESSING" | translate }}
          <app-tooltip [text]="'Enable or disable processing of WAV audio data'"
                       [show]="showTooltip['processing-wav']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="processing-wav" [(ngModel)]="data.streamingConfig.wav.processWaveform">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="wav-processing-type" (mouseenter)="onMouseEnter('wav-processing-type')"
               (mouseleave)="onMouseLeave('wav-processing-type')">
          {{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.PROCESSING_TYPE" | translate }}
          <app-tooltip [text]="'Select the type of processing for WAV data'"
                       [show]="showTooltip['wav-processing-type']"></app-tooltip>
        </label>
        <select id="wav-processing-type" [(ngModel)]="data.streamingConfig.wav.waveformProcessingType"
                class="fixed-width-select">
          <option *ngFor="let type of wavProcessingTypes" [value]="type.value">{{ type.label }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="wav-interval" (mouseenter)="onMouseEnter('wav-interval')"
               (mouseleave)="onMouseLeave('wav-interval')">
          {{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.INTERVAL" | translate }}
          ({{ "RECORDING_PROCESSING_SETTINGS.UNITS.MINUTES" | translate }})
          <app-tooltip [text]="'Set the interval time (in seconds) between each WAV recording'"
                       [show]="showTooltip['wav-interval']"></app-tooltip>
        </label>
        <input type="number" id="wav-interval" [(ngModel)]="data.streamingConfig.wav.waveformInterval" min="1" max="65535"
               [class.invalid]="!isDurationOrPeriodValid(data.streamingConfig.wav.waveformInterval)">
      </div>
      <div class="setting-group">
        <label for="wav-duration" (mouseenter)="onMouseEnter('wav-duration')"
               (mouseleave)="onMouseLeave('wav-duration')">
          {{ "RECORDING_PROCESSING_SETTINGS.WAVEFORM.DURATION" | translate }}
          ({{ "RECORDING_PROCESSING_SETTINGS.UNITS.MINUTES" | translate }})
          <app-tooltip [text]="'Set the duration (in seconds) for each WAV recording'"
                       [show]="showTooltip['wav-duration']"></app-tooltip>
        </label>
        <input type="number" id="wav-duration" [(ngModel)]="data.streamingConfig.wav.waveformDuration" min="1" max="65535"
               [class.invalid]="!isDurationOrPeriodValid(data.streamingConfig.wav.waveformDuration)">
      </div>
    </div>
    <!------------------------------------------- SPECTRUM ------------------------------------------->
    <div class="settings-box spectrum">
      <h2>{{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.TITLE" | translate }}</h2>
      <div class="setting-group">
        <label for="recording-fft" (mouseenter)="onMouseEnter('recording-fft')"
               (mouseleave)="onMouseLeave('recording-fft')">
          {{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.RECORDING" | translate }}
          <app-tooltip [text]="'Enable or disable recording of FFT data'"
                       [show]="showTooltip['recording-fft']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="recording-fft" [(ngModel)]="data.streamingConfig.fft.recordFFT">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="processing-fft" (mouseenter)="onMouseEnter('processing-fft')"
               (mouseleave)="onMouseLeave('processing-fft')">
          {{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.PROCESSING" | translate }}
          <app-tooltip [text]="'Enable or disable processing of FFT data'"
                       [show]="showTooltip['processing-fft']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="processing-fft" [(ngModel)]="data.streamingConfig.fft.processFFT">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="fft-processing-type" (mouseenter)="onMouseEnter('fft-processing-type')"
               (mouseleave)="onMouseLeave('fft-processing-type')">
          {{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.PROCESSING_TYPE" | translate }}
          <app-tooltip [text]="'Select the type of processing for FFT data'"
                       [show]="showTooltip['fft-processing-type']"></app-tooltip>
        </label>
        <select id="fft-processing-type" [(ngModel)]="data.streamingConfig.fft.fftProcessingType" class="fixed-width-select">
          <option *ngFor="let type of fftProcessingTypes" [value]="type.value">{{ type.label }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="fft-interval" (mouseenter)="onMouseEnter('fft-interval')"
               (mouseleave)="onMouseLeave('fft-interval')">
          {{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.INTERVAL" | translate }}
          ({{ "RECORDING_PROCESSING_SETTINGS.UNITS.MINUTES" | translate }})
          <app-tooltip [text]="'Set the interval time (in seconds) between each FFT recording'"
                       [show]="showTooltip['fft-interval']"></app-tooltip>
        </label>
        <input type="number" id="fft-interval" [(ngModel)]="data.streamingConfig.fft.fftInterval" min="1" max="65535"
               [class.invalid]="!isDurationOrPeriodValid(data.streamingConfig.fft.fftInterval)">
      </div>
      <div class="setting-group">
        <label for="fft-duration" (mouseenter)="onMouseEnter('fft-duration')"
               (mouseleave)="onMouseLeave('fft-duration')">
          {{ "RECORDING_PROCESSING_SETTINGS.SPECTRUM.DURATION" | translate }}
          ({{ "RECORDING_PROCESSING_SETTINGS.UNITS.MINUTES" | translate }})
          <app-tooltip [text]="'Set the duration (in seconds) for each FFT recording'"
                       [show]="showTooltip['fft-duration']"></app-tooltip>
        </label>
        <input type="number" id="fft-duration" [(ngModel)]="data.streamingConfig.fft.fftDuration" min="1" max="65535"
               [class.invalid]="!isDurationOrPeriodValid(data.streamingConfig.fft.fftDuration)">
      </div>
    </div>
  </div>


</div>
