/* localizer-config-popup.component.css */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Color de fondo semi-transparente */
  backdrop-filter: blur(5px); /* Efecto de desenfoque */
  z-index: 1001; /* Asegúrate de que el fondo esté detrás del popup */
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1002;
  max-width: 400px;
  padding: 20px;
  word-wrap: break-word;
}

.popup-header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header-icon {
  height: 30px;
}

.section {
  margin-bottom: 20px;
}

.operation-modes {
  display: flex;
  justify-content: center;
}

.operation-modes button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
}

.operation-modes .selected {
  background-color: var(--activated-color);
  color: white;
}


.direct-communication-header {
  display: flex;
  align-items: center; /* Alinea los elementos horizontalmente al centro */
  justify-content: space-between; /* Espacia los elementos */
}


.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;

}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  border-radius: 50%;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--activated-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.info-box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 10px;
}

.info-box p {
  /* text size */
  font-size: 14px;
  /* text justify */
  text-align: justify;

}

.usb-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.usb-selection button {
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  /*Add shadow*/
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.usb-selection button img {
  width: 30px;
}


.popup-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.discard-button {
  background-color: var(--discard-button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.apply-button {
  background-color: var(--apply-button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
