<div class="recording-and-processing-site">
  <div class="top-container">
    <h1>Streaming Settings</h1>
    <app-update-info-button [tooltipPosition]="'right'"
                            (buttonClick)="configService.getUpdatedStreamingConfig()"></app-update-info-button>
  </div>
  <div class="settings-container">
    <div class="settings-box waveform">
      <!------------------------------------------- WAVEFORM ------------------------------------------->
      <h2>Waveform Data (WAV)</h2>
      <div class="setting-group">
        <label for="recording-wav" (mouseenter)="onMouseEnter('recording-wav')"
               (mouseleave)="onMouseLeave('recording-wav')">
          Recording
          <app-tooltip [text]="'Enable or disable recording of WAV audio data'"
                       [show]="showTooltip['recording-wav']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="recording-wav" [(ngModel)]="waveformConfig.record_waveform">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="processing-wav" (mouseenter)="onMouseEnter('processing-wav')"
               (mouseleave)="onMouseLeave('processing-wav')">
          Processing
          <app-tooltip [text]="'Enable or disable processing of WAV audio data'"
                       [show]="showTooltip['processing-wav']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="processing-wav" [(ngModel)]="waveformConfig.process_waveform">
          <span class="slider round"></span>
        </label>

      </div>
      <div class="setting-group">
        <label for="wav-processing-type" (mouseenter)="onMouseEnter('wav-processing-type')"
               (mouseleave)="onMouseLeave('wav-processing-type')">
          WAV Processing Type
          <app-tooltip [text]="'Select the type of processing for WAV data'"
                       [show]="showTooltip['wav-processing-type']"></app-tooltip>
        </label>
        <select id="wav-processing-type" [(ngModel)]="waveformConfig.waveform_processing_type" class="fixed-width-select">
          <option *ngFor="let type of wavProcessingTypes" [value]="type.value">{{ type.label }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="wav-interval" (mouseenter)="onMouseEnter('wav-interval')"
               (mouseleave)="onMouseLeave('wav-interval')">
          WAV Interval (min)
          <app-tooltip [text]="'Set the interval time (in seconds) between each WAV recording'"
                       [show]="showTooltip['wav-interval']"></app-tooltip>
        </label>
        <input type="number" id="wav-interval" [(ngModel)]="waveformConfig.waveform_interval" min="1" max="65535" [class.invalid]="!isDurationOrPeriodValid(waveformConfig.waveform_interval)">
      </div>
      <div class="setting-group">
        <label for="wav-duration" (mouseenter)="onMouseEnter('wav-duration')"
               (mouseleave)="onMouseLeave('wav-duration')">
          WAV Duration (min)
          <app-tooltip [text]="'Set the duration (in seconds) for each WAV recording'"
                       [show]="showTooltip['wav-duration']"></app-tooltip>
        </label>
        <input type="number" id="wav-duration" [(ngModel)]="waveformConfig.waveform_duration" min="1" max="65535" [class.invalid]="!isDurationOrPeriodValid(waveformConfig.waveform_duration)">
      </div>
    </div>
    <!------------------------------------------- SPECTRUM ------------------------------------------->
    <div class="settings-box spectrum">
      <h2>Spectrum Data (FFT)</h2>
      <div class="setting-group">
        <label for="recording-fft" (mouseenter)="onMouseEnter('recording-fft')"
               (mouseleave)="onMouseLeave('recording-fft')">
          Recording
          <app-tooltip [text]="'Enable or disable recording of FFT data'"
                       [show]="showTooltip['recording-fft']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="recording-fft" [(ngModel)]="spectrumConfig.record_fft">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="processing-fft" (mouseenter)="onMouseEnter('processing-fft')"
               (mouseleave)="onMouseLeave('processing-fft')">
          Processing
          <app-tooltip [text]="'Enable or disable processing of FFT data'"
                       [show]="showTooltip['processing-fft']"></app-tooltip>
        </label>
        <label class="switch">
          <input type="checkbox" id="processing-fft" [(ngModel)]="spectrumConfig.process_fft">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="setting-group">
        <label for="fft-processing-type" (mouseenter)="onMouseEnter('fft-processing-type')"
               (mouseleave)="onMouseLeave('fft-processing-type')">
          FFT Processing Type
          <app-tooltip [text]="'Select the type of processing for FFT data'"
                       [show]="showTooltip['fft-processing-type']"></app-tooltip>
        </label>
        <select id="fft-processing-type" [(ngModel)]="spectrumConfig.fft_processing_type" class="fixed-width-select">
          <option *ngFor="let type of fftProcessingTypes" [value]="type.value">{{ type.label }}</option>
        </select>
      </div>
      <div class="setting-group">
        <label for="fft-interval" (mouseenter)="onMouseEnter('fft-interval')"
               (mouseleave)="onMouseLeave('fft-interval')">
          FFT Interval (min)
          <app-tooltip [text]="'Set the interval time (in seconds) between each FFT recording'"
                       [show]="showTooltip['fft-interval']"></app-tooltip>
        </label>
        <input type="number" id="fft-interval" [(ngModel)]="spectrumConfig.fft_interval" min="1" max="65535" [class.invalid]="!isDurationOrPeriodValid(spectrumConfig.fft_interval)">
      </div>
      <div class="setting-group">
        <label for="fft-duration" (mouseenter)="onMouseEnter('fft-duration')"
               (mouseleave)="onMouseLeave('fft-duration')">
          FFT Duration (min)
          <app-tooltip [text]="'Set the duration (in seconds) for each FFT recording'"
                       [show]="showTooltip['fft-duration']"></app-tooltip>
        </label>
        <input type="number" id="fft-duration" [(ngModel)]="spectrumConfig.fft_duration" min="1" max="65535" [class.invalid]="!isDurationOrPeriodValid(spectrumConfig.fft_duration)">
      </div>
    </div>
  </div>

  <div class="bottom-container">
    <button class="apply-button" (click)="applySettings()">APPLY</button>
  </div>
</div>
