<head>
  <meta name="search-content" content="summary page frequency system map etc">
  <title>{{ 'SUMMARY_SITE.TITLE' | translate }}</title>
</head>

<div class="summary-site">
  <div class="summary-header">
    <h1>{{ 'SUMMARY_SITE.WELCOME' | translate }}</h1>
  </div>
  <div class="summary-cards">
    <app-summary-card
      [icon]="'dolphin'" [boldText]="String(numClicks)" [lightText]="'SUMMARY_SITE.CLICKS' | translate">
    </app-summary-card>
    <app-summary-card
      [icon]="'foundation-sound'" [boldText]="String(numReports)" [lightText]="'SUMMARY_SITE.REPORTS' | translate">
    </app-summary-card>
    <app-summary-card
      [icon]="'time-clock'" [boldText]="String(numMinutes)" [lightText]="'SUMMARY_SITE.MINUTES' | translate">
    </app-summary-card>
    <app-summary-card
      [icon]="'audio-file'" [boldText]="String(numFiles)" [lightText]="'SUMMARY_SITE.FILES' | translate">
    </app-summary-card>
  </div>
  <app-line-chart [inputData]="clickData" [timeMode]="'hours'" [scaleType]="'linear'"></app-line-chart>
</div>
