<div class="summary-site">
  <div class="summary-header">
    <div class="summary-title">Welcome again</div>
  </div>
  <div class="summary-cards">
    <app-summary-card
      [icon]="'dolphin'" [boldText]="String(numClicks)" [lightText]="'Clicks'">
    </app-summary-card>
    <app-summary-card
      [icon]="'foundation-sound'" [boldText]="String(numReports)" [lightText]="'reportes'">
    </app-summary-card>
    <app-summary-card
      [icon]="'time-clock'" [boldText]="String(numMinutes)" [lightText]="'minutos'">
    </app-summary-card>
    <app-summary-card
      [icon]="'audio-file'" [boldText]="String(numFiles)" [lightText]="'ficheros'">
    </app-summary-card>
  </div>
  <app-line-chart [inputData]="clickData" [timeMode]="'hours'" [scaleType]="'linear'"></app-line-chart>
</div>
