<head>
  <meta name="search-content" content="summary page frequency system map etc">
  <title>Summary</title>
</head>

<div class="summary-site">
  <div class="summary-header">
    <h1>Welcome again</h1>
  </div>
  <div class="summary-cards">
    <app-summary-card
      [icon]="'dolphin'" [boldText]="String(numClicks)" [lightText]="'Clicks'">
    </app-summary-card>
    <app-summary-card
      [icon]="'foundation-sound'" [boldText]="String(numReports)" [lightText]="'Reports'">
    </app-summary-card>
    <app-summary-card
      [icon]="'time-clock'" [boldText]="String(numMinutes)" [lightText]="'Minutes'">
    </app-summary-card>
    <app-summary-card
      [icon]="'audio-file'" [boldText]="String(numFiles)" [lightText]="'Files'">
    </app-summary-card>
  </div>
  <app-line-chart [inputData]="clickData" [timeMode]="'hours'" [scaleType]="'linear'"></app-line-chart>
</div>
