.language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Estilos comunes */
.selected-language {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.selected-language .flag-icon {
  margin-right: 10px;
  width: 24px;
  height: auto;
}

.dropdown-arrow {
  margin-left: auto;
  padding-left: 10px;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  z-index: 1000;
}

/* Dirección hacia abajo (por defecto) */
.language-selector.down .dropdown-menu {
  top: 100%;
}

/* Dirección hacia arriba */
.language-selector.up .dropdown-menu {
  bottom: 100%;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.dropdown-item .flag-icon {
  margin-right: 10px;
  width: 24px;
  height: auto;
}
