<nav class="tabs">
  <button
    (click)="changeView('all')"
    [class.active]="currentView === 'all'">
    View All
  </button>
  <button
    *ngIf="selectedNode?.extModules?.operationModes"
    (click)="changeView('reporting')"
    [class.active]="currentView === 'reporting'">
    Reporting
  </button>
  <button
    *ngIf="selectedNode && selectedNode.pamModules && selectedNode.pamModules.ICListenHF"
    (click)="changeView('iclistenhf')"
    [class.active]="currentView === 'iclistenhf'"
  >ICListenHF
  </button>
</nav>

<section class="content">
  <ng-container *ngIf="selectedNode">
    <!-- Reporting -->
    <app-reporting-periods-monitor-panel
      *ngIf="(currentView === 'reporting' || currentView === 'all') &&
             selectedNode.extModules &&
             selectedNode.extModules.operationModes &&
             selectedNode.extModules.loRaReporting &&
             selectedNode.extModules.iridiumReporting"
      [data]="{
        operationModes: selectedNode.extModules.operationModes,
        loRaReporting: selectedNode.extModules.loRaReporting,
        iridiumReporting: selectedNode.extModules.iridiumReporting
      }"
      (update)="onReportingPeriodsUpdate($event)"
    >
    </app-reporting-periods-monitor-panel>

    <div
      *ngIf="(currentView === 'iclistenhf' || currentView === 'all')"
    >
      <!-- Streaming -->
      <app-iclisten-streaming-config-monitor-panel
        *ngIf="getICListenModuleIfPresent()?.streamingConfig"
        [data]="{ streamingConfig: getICListenModuleIfPresent()?.streamingConfig! }"
        (update)="onICListenHFConfigUpdate($event)"
      >
      </app-iclisten-streaming-config-monitor-panel>

      <!-- Logging -->
      <app-iclisten-data-collection-config-monitor-panel
        *ngIf="getICListenModuleIfPresent()?.loggingConfig"
        [data]="{ loggingConfig: getICListenModuleIfPresent()?.loggingConfig! }"
        (update)="onICListenHFConfigUpdate($event)"
      >
      </app-iclisten-data-collection-config-monitor-panel>
    </div>
  </ng-container>
</section>
