<nav class="tabs">
  <button (click)="changeView('all')" [class.active]="currentView === 'all'">View All</button>
  <button (click)="changeView('reporting')" [class.active]="currentView === 'reporting'">Reporting</button>
  <button (click)="changeView('streaming')" [class.active]="currentView === 'streaming'">Streaming</button>
  <button (click)="changeView('pam')" [class.active]="currentView === 'pam'">PAM Config</button>
</nav>

<section class="content">
  <ng-container *ngIf="selectedNode">
    <!-- Reporting -->
    <app-reporting-periods-monitor-panel
      *ngIf="(currentView === 'reporting' || currentView === 'all') &&
             selectedNode.extModules &&
             selectedNode.extModules.operationModes &&
             selectedNode.extModules.loRaReporting &&
             selectedNode.extModules.iridiumReporting"
      [data]="{
        operationModes: selectedNode.extModules.operationModes,
        loRaReporting: selectedNode.extModules.loRaReporting,
        iridiumReporting: selectedNode.extModules.iridiumReporting
      }"
      (update)="onReportingPeriodsUpdate($event)"
    >
    </app-reporting-periods-monitor-panel>

    <!-- Streaming -->
    <app-iclisten-streaming-config-monitor-panel
      *ngIf="(currentView === 'streaming' || currentView === 'all') &&
              getICListenModuleIfPresent()?.streamingConfig"
      [data]="{ streamingConfig: getICListenModuleIfPresent()?.streamingConfig! }"
      (update)="onStreamingConfigUpdate($event)"

    >
    </app-iclisten-streaming-config-monitor-panel>

    <!-- PAM -->
    <app-iclisten-data-collection-config-monitor-panel
      *ngIf="(currentView === 'pam' || currentView === 'all') &&
              getICListenModuleIfPresent()?.loggingConfig"
      [data]="{ loggingConfig: getICListenModuleIfPresent()?.loggingConfig! }"
      (update)="onDataCollectionConfigUpdate($event)"
    >
    </app-iclisten-data-collection-config-monitor-panel>
  </ng-container>
</section>
