<nav class="tabs">
  <button
    (click)="changeView('all')"
    [class.active]="currentView === 'all'">
    View All
  </button>
  <button
    *ngIf="selectedNode?.modules?.operationModes"
    (click)="changeView('reporting')"
    [class.active]="currentView === 'reporting'">
    Reporting
  </button>
  <button
    *ngIf="selectedNode && selectedNode.modules && selectedNode.modules.ICListenHF"
    (click)="changeView('iclistenhf')"
    [class.active]="currentView === 'iclistenhf'"
  >ICListenHF
  </button>
</nav>

<section class="content">
  <ng-container *ngIf="selectedNode">
    <!-- Reporting -->
    <app-reporting-periods-monitor-panel
      *ngIf="(currentView === 'reporting' || currentView === 'all') &&
             selectedNode.modules &&
             selectedNode.modules.operationModes &&
             selectedNode.modules.loRaReporting &&
             selectedNode.modules.iridiumReporting"
      [data]="{
        operationModes: selectedNode.modules.operationModes,
        loRaReporting: selectedNode.modules.loRaReporting,
        iridiumReporting: selectedNode.modules.iridiumReporting
      }"
      (update)="onExtModuleUpdate($event)"
    >
    </app-reporting-periods-monitor-panel>
    <app-operation-modes-graph-monitor-panel
      *ngIf="(currentView === 'reporting' || currentView === 'all') &&
      selectedNode.modules &&
      selectedNode.modules.operationModes &&
      selectedNode.modules.operationModesGraph"
      (update)="onExtModuleUpdate($event)"

      [data]="{
        operationModes: selectedNode.modules.operationModes,
        operationModesGraph: selectedNode.modules.operationModesGraph
      }"
    ></app-operation-modes-graph-monitor-panel>


    <div
      *ngIf="(currentView === 'iclistenhf' || currentView === 'all') &&
       selectedNode.modules && selectedNode.modules.ICListenHF"
    >
      <!-- Streaming -->
      <app-iclisten-streaming-config-monitor-panel
        *ngIf="getICListenModuleIfPresent()?.streamingConfig; else noStreamingConfig"
        [data]="{ streamingConfig: getICListenModuleIfPresent()?.streamingConfig! }"
        (update)="onICListenHFConfigUpdate($event)"
      >
      </app-iclisten-streaming-config-monitor-panel>
      <ng-template #noStreamingConfig>
        <app-warning [message]="'No streaming configuration available for ICListenHF'"/>
      </ng-template>

      <!-- Logging -->
      <app-iclisten-data-collection-config-monitor-panel
        *ngIf="getICListenModuleIfPresent()?.loggingConfig; else noLoggingConfig"
        [data]="{ loggingConfig: getICListenModuleIfPresent()?.loggingConfig! }"
        (update)="onICListenHFConfigUpdate($event)"
      >
      </app-iclisten-data-collection-config-monitor-panel>
      <ng-template #noLoggingConfig>
        <app-warning [message]="'No logging configuration available for ICListenHF'"/>
      </ng-template>
    </div>
  </ng-container>
</section>
